{% extends "network/layout.html" %}
{% load static %}

{% block js %}
    <script type="module" src="{% static 'network/js/index.js' %}"></script>    
{% endblock %}

{% block page_title %}
    <h1>All Posts</h1>
    {{ block.super }}
{% endblock page_title %}
{% block form_section %}
    {% if user.is_authenticated %}
        <div class="post-div">
            <h2>New Post</h2>
            <div class="form-group">
                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <textarea autofocus class="form-control mb-2" id="new-content" name="content" rows="3"></textarea>
                    <input type="submit" class="btn btn-primary mb-2" id="post-button" value="Post"></input>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}