{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="post-div">
            <h2>New Post</h2>
            <div class="form-group">
                <form>
                    <textarea class="form-control mb-2" id="new-content" rows="3"></textarea>
                    <input class="btn btn-primary mb-2" id="post-button" value="Post"></input>
                </form>
            </div>
        </div>
    {% endif %}
    <div id="posts"></div>
{% endblock %}
