body {
    padding: 10px;
}

a.listing {
    text-decoration: none;
    color: black;
}

.listing-li:hover {
    background-color: rgb(231, 231, 231);
}

.flex-container {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
  }

th, td {
    padding-left: 10px;
    padding-bottom: 5px;
}

td>input {
    width: 500px;
  }

.create-button {
    display: flex;
    justify-content: center;
}

.create-button>input {
    width: 200px;
}