body {
    padding: 10px;
}

a.listing {
    text-decoration: none;
    color: black;
}

.listing-li:hover {
    background-color: rgb(231, 231, 231);
}

.flex-container {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
  }

th, td {
    padding-left: 10px;
    padding-bottom: 5px;
}

td>input {
    width: 500px;
  }

.listing-image>img {
    max-width: 100%;
    height: auto;

}

.watchlist-button {
    margin-bottom: 10px;
}

.listing-info {
    display: flex;
    flex-direction: column;
    font-size: 1.05em;
}

.listing-info>div {
    padding-bottom: 15px;
}
.comment-form {
    width: 50%;
    margin-top: 5px;
}
.comment-form textarea {
    border-radius: 10px;
    height: 50px;
    width: 100%;
    padding-left: 5px;
}

.posted-comments li {
    list-style-type: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    width: 50%;
}

.posted-comments div {
    overflow-wrap: break-word;
}