html {
   display: block;
}
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   min-width: 400px;
}
body {
   background: #fff;
   display: block;
}
body, input, button {
   font-size: 14px;
   font-family: Roboto, arial, sans-serif;
   color: #202124;
}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
a:hover {
    color: rgba(0,0,0,.87);
    text-decoration: underline;
}
#mynavbar {
    margin-top: 10px;
}
#mylogoimg {
    margin-top: 100px;
}
#logopart {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
}
#google-search {
    margin-left: 50%;
}
.advanced-button {
    background: #4787ed;
    border-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    margin-left: 50px;
}
.advanced-button:hover {
    background: #357ae8;
    color: #fff;
}

.form-control {
    /* display: flex; */
    /* z-index: 3; */
    height: 44px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* margin: 0 auto; */
    /* width: auto; */
    /* max-width: 584px; */
    /* min-width: 500px; */
}
.form-control:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
div > label, #find-pages-with {
    margin-left: 20px;
    margin-bottom: 10px;
}
#find-pages-with {
    font-size: 16px;
    margin-top: 25px;
}
#label-advanced-search-name {
    color: #d93025;
    font-size: 20px;
}
.labelsandfields > .row > div > input {
    width: 75%;
}













/*
.search-section {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}
*/