{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="flex-container">
        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="create-button">
                <input class="btn btn-primary btn-block" type="submit" value="Create">
            </div>
        </form>
    </div>

{% endblock %}