{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul class="list-group">
        {% for listing in listings %}
            <li class="list-group-item">    
                <div class="container mx-1">
                    <a href="{% url 'listing' listing.id %}">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ listing.image }}" alt="{{ listing.description }}" class="img-thumbnail">
                        </div>
                        <div class="col-9">
                            <h3>{{ listing.title }}</h3>
                            Description: {{ listing.description }}, 
                            Starting Bid: {{ listing.starting_bid }}, Owner: {{listing.owner}}
                        </div>
                    </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}