{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

        For sale: {{ listing.title }}, Description: {{ listing.description }}, Starting Bid: {{ listing.starting_bid }}, Owner: {{ listing.owner }}

        {% if user.is_authenticated %}
        
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {% if watchlisted %}
                    <button class="btn btn-danger" type="submit" name="add_or_remove" value="{{ watchlist_item.id }}">Remove from Watchlist</button>
                {% else %}
                    <button class="btn btn-success" type="submit" name="add_or_remove">Add to Watchlist</button>
                {% endif %}
            </form>

            <div>
                {{ bids }}
                <br>
                Highest bid: {{ highest_bid }}
            </div>

            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="number" name="bid" min="{{ highest_bid.amount }}" placeholder="{{ highest_bid.amount }}">
                </div>
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>

            <div>
                {% if user == listing.owner %}
                    This listing belongs to {{ user.username }}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit" name="close_listing">Close Listing</button>
                    </form>
                {% else %}
                    This listing does not belong to {{ user.username }}
                    <br>
                    It belongs to {{ listing.owner }}
                {% endif %}
            </div>
        {% endif %}

{% endblock %}