{% extends 'auctions/layout.html' %}

{% block body %}

    <h2>Watchlist</h2>

    {% if user.is_authenticated %}
        <ul class="list-group">
            {% for listing in listings_and_prices %}
                <li class="list-group-item listing-li">    
                    <div class="container mx-1">
                        <a class="listing" href="{% url 'listing' listing.0.id %}">
                        <div class="row">
                            <div class="col-3">
                                {% if listing.0.image == "" %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No Image Available" class="img-thumbnail">
                                {% else %}
                                    <img src="{{ listing.0.image }}" alt="{{ listing.0.description }}" class="img-thumbnail">
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <h3>{{ listing.0.title }}</h3>
                                {% if listing.1.amount is None %}
                                    <p>Current Price: {{listing.0.starting_bid }}</p>
                                {% else %}
                                    <p>Current Price: {{listing.1.amount }}</p>
                                {% endif %}
                                <p>Description: {{ listing.0.description }}</p> 
                                <p>Starting Bid: {{ listing.0.starting_bid }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}